.wrapper {
    border-top: 0.5px solid #1618231f;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
    color: #161823bf;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    transition: background 200ms ease-in-out 0s;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.see-more-btn {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
